@font-face {
  font-family: regularFont;
  src: url("fonts/System San Francisco Display Regular.ttf");
}
@font-face {
  font-family: boldFont;
  src: url("fonts/System San Francisco Display Bold.ttf");
}
body {
  font-family: regularFont;
}
.background {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}
h1 {
  font-family: boldFont;
}
.navbar {
  background: #afd3e2;
}
.btn,
.btn:active,
.btn:hover,
.btn:visited {
  background-color: #afd3e2;
  color: black;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 5%;
  margin-top: 10%;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 7%;
}
.image-class {
  text-align: center;
}
.input-class {
  width: 50%;
}
.page {
  text-align: center;
}
@media screen and (min-width: 500px) {
  .heading {
    font-size: 5rem;
  }
}
@media screen and (max-width: 500px) {
  .heading {
    font-size: 3rem;
  }
}
