@font-face {
  font-family: regularFont;
  src: url("fonts/System San Francisco Display Regular.ttf");
}
@font-face {
  font-family: boldFont;
  src: url("fonts/System San Francisco Display Bold.ttf");
}
body {
  font-family: regularFont;
}
h1 {
  font-family: boldFont;
}
.navbar {
  background: #afd3e2;
}
