@font-face {
  font-family: regularFont;
  src: url("fonts/System San Francisco Display Regular.ttf");
}
@font-face {
  font-family: boldFont;
  src: url("fonts/System San Francisco Display Bold.ttf");
}
body {
  font-family: regularFont;
}
h1 {
  font-family: boldFont;
}
.navbar {
  background: #afd3e2;
}
.btn,
.btn:active,
.btn:hover,
.btn:visited {
  background-color: #afd3e2;
  color: black;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-class {
  text-align: center;
}
.input-class {
  width: 50%;
}
footer {
  bottom: 0;
}
